on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: Setup Jolie
    steps:
      - uses: actions/checkout@v3
      - id: setup-jolie
        uses: kicito/setup-jolie@main
        
      - run: echo "$PATH"
        shell: bash
        
      - run: jolie
        shell: bash