on: [push]

jobs:
  run_jolie:
    runs-on: ubuntu-latest
    name: Test execute Jolie
    steps:
      - uses: actions/checkout@v3
      - id: setup-jolie
        name: Setup Jolie
        uses: kicito/setup-jolie@v1
      - id: run_jolie
        name: Run Jolie
        run: jolie main.ol
        shell: bash
  run_jpm:
    runs-on: ubuntu-latest
    name: Test run jot
    steps:
      - uses: actions/checkout@v3
      - id: setup-jolie
        name: Setup Jolie
        uses: kicito/setup-jolie@v1
      - run: jpm -h
  run_jot:
    runs-on: ubuntu-latest
    name: Test run jot
    steps:
      - uses: actions/checkout@v3
      - id: setup-jolie
        name: Setup Jolie
        uses: kicito/setup-jolie@v1
      - run: npm ci
      - run: npm test